[submodule "tool-policy-store"]
	path = tool-policy-store
	url = https://sensitiveMix@bitbucket.org/teambition/tool-policy-store.git
[submodule "tool-validator"]
	path = tool-validator
	url = https://sensitiveMix@bitbucket.org/teambition/tool-validator.git
