[submodule "vaultech-policy-store"]
	path = vaultech-policy-store
	url = git@github.com:cyanideio/vaultech-policy-store.git
[submodule "vaultech-validator"]
	path = vaultech-validator
	url = git@github.com:cyanideio/vaultech-validator.git
